.src-sections-root--outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 1rem);
    width: calc(100vw - 1rem);
    min-height: 0;
    background-color: #4d4d4d;
    overflow: hidden;
}

.src-sections-root--bodyContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 80%;
    width: 85%;
    background-color: #fafff3;
    border: 2px solid #c9c9c9;
    outline: 3px solid #fff;
    /*order: 2;*/
}

.src-sections-root--navMenu {
    height: 10%;
    width: 85%;
    padding-bottom: 5px;
    /*min-height: 83px;*/
    /*order: 1;*/
    /*border: solid 1px black;*/
}

/*.src-sections-root--main {*/
    /*min-height: 467px;*/
    /*border: solid 1px red;*/
/*}*/

@media screen and (min-width: 767px) {
    .src-sections-root--outerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 1rem);
        width: calc(100vw - 1rem);
        min-height: 0;
        background-color: #4d4d4d;
        overflow: hidden;
    }

    .src-sections-root--navMenu {
        height: 10%;
        width: 85%;
        padding-bottom: 5px;
    }

    .src-sections-root--bodyContainer {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: 80%;
        width: 85%;
        background-color: #fafff3;
        border: 2px solid #c9c9c9;
        outline: 3px solid #fff;
    }
}